
html {    
	   background: url('../images/home-002.png') no-repeat center center fixed; 
       background-color: black;
	}
    
body {
    background-color: transparent;
}

#nav-main {
	position: fixed;
    display: block;
	top: 50%;
	width: 100%;
	border-color: lightpink;
  margin: 0px;
  margin-left: -16px;
}


.navbar-default {
	border-color: white;
	font-size: 22px;
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
    color: #cc0066;

}

.navbar-nav {
float:none;
margin:0 auto;
display: block;
text-align: center;
}

.navbar-nav>li {
display: inline-block;
float: none;
}

.navbar {
  border-radius: 0px; 
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
	color: #848482;
}

.navbar-default .navbar-nav>li>a {

	color: #E5E4E2;
}

.navbar-collapse.in {
	border-color: lightpink;
}
.navbar-collapse.collapsing {
	border-color: lightpink;
}

.thumbnail  {
background-color: rgba( 0, 0, 0, 0.1 );
border: solid 1px rgba(255, 255, 255, 0.5);
}
.well{
background-color: rgba( 0, 0, 0, 0.1 );
border : solid 1px rgba(192,63,182,0.5);
}

.white-text{
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    letter-spacing: .5px;
}

#add-background {
    background-color: rgba(0, 3, 2, 0.8)
}

.video-border {
  border: 1px solid white;
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {

/*Ipad portriat */
	/* Iphone 4/4s portriat */

	.navbar-nav>li>a {
font-size: 24px;
float: left;
clear: right;
}

#nav-main ul li {
	margin-left: 0px;
	}

}

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 2px solid white;
}

.footer-text {
  margin-top: 50px;
}

/* ----------- iPhone 4 and 4S ----------- https://css-tricks.com/snippets/css/media-queries-for-standard-devices*/

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.navbar-default .navbar-nav>li>a {
    color: #E5E4E2;
    display: block;
    text-align: right;
    width: 280px;
    padding-right: 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	
  	.navbar-default .navbar-nav>li>a {
    color: #E5E4E2;
    display: block;
    text-align: right;
    width: 280px;
    padding-right: 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	
  	.navbar-default .navbar-nav>li>a {
    color: #E5E4E2;
    display: block;
    text-align: right;
    width: 340px;
    padding-right: 0px;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  	.navbar-default .navbar-nav>li>a {
    color: #E5E4E2;
    display: block;
    text-align: right;
    width: 340px;
    padding-right: 0px;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}